.centerFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score{
    font-weight: bold;
    font-size: 40px;
}

.player{
    color:greenyellow;
}

.ai{
    color:salmon;
}