.gameboard td{
    height:100px;
    width: 100px;
    border:1px dotted grey;
    text-align: center;

    font-size: 50pt;
    font-weight: bold;
    font-family: 'Courier New', 'Courier', 'monospace';
}

.gameboard td:hover{
    border:1px solid black;
}

.gameboard td[data-iswinner="1"]{
    background-color: yellowgreen;
}

.gameboard td[data-iswinner="2"]{
    background-color: salmon;
}