.gameboard td{
    height:100px;
    width: 100px;
    border:1px solid grey;
    text-align: center;
}

.gameboard td:hover{
    border:1px solid red;
}

.gameboard td[data-iswinner="1"]{
    background-color: green;
}

.gameboard td[data-iswinner="2"]{
    background-color: yellow;
}