<table id="currentGame" class="gameboard">
  <tr *ngFor="let row of list">
    <td *ngFor="let column of list" attr.data-iswinner="{{gameState[row][column].isWinner}}" (click)="playerMove(row,column)">{{gameState[row][column].value}}</td>
  </tr>
</table>
<div>
  <input type="button" value="New Game!" (click)="newGame()" [disabled]="!isGameOver" />
</div>

<hr>

<div class="container">
  <div *ngFor="let game of gameHistory">
    <table class="gameboard">
      <tr *ngFor="let row of list">
        <td *ngFor="let column of list" attr.data-iswinner="{{game[row][column].isWinner}}">{{game[row][column].value}}</td>
      </tr>
    </table>
  </div>
</div>

<hr>